@CHARSET "UTF-8";

/*  body{ 
	margin: auto auto; 
	width: 1000px; 
}   */

.eqm_list_main{
	font-size: 13px; 
	margin: auto auto; 
	width: 990px;  
	height: 580px;
	float: center; 
	margin: auto auto;
	margin-left: 10px;
	margin-top: 10px;
}
.eqm_list_lend_main{
	font-size: 13px; 
	margin: auto auto; 
	width: 950px;  
	height: 450px;
	float: center; 
}

.eqm_list_center{
	margin: auto auto;	
	display: block;
	width: 100%;
	height: 570px; 
	float: left; 
} 
.eqm_list_center_myLend{
	margin: auto auto;	
	display: block;
	width: 100%;
	height: 455px;  
} 
.eqm_list_null_line{
	width: 100%;
	height: 10px;
}  
.eqm_list_search_div{
	color: black;
	font-size: 14px; 
	margin: auto auto; 
	height: 50px;
	width: 95%; 
	margin-bottom: 10px; 
}
.eqm_list_search_my_lend_div{
	color: black;
	font-size: 14px; 
	margin: auto auto; 
	height: 50px;
	width: 95%; 
}
.eqm_list_search_lend_div{
	color: black;
	font-size: 14px; 
	margin: auto auto; 
	height: 25px;
	width: 95%; 
	margin-bottom: 10px; 
}
.eqm_list_search_div a:HOVER{ 
	color: #ff6c26;
}
.eqm_list_eqmList{
	font-size: 14px;
	/* width: 100%; */
}

.eqm_list_add_eqm_line_propertyNo{
	margin-left: 15px;
	margin-top: 10px;
	width: 80%;
} 

.eqm_list_add_eqm_line_eqmID input:disabled {
	border: 1px solid #DDD;
	background-color: white;
	color: red;
	font-weight: bold;
	font-size: 16px;
} 

.eqm_list_add_eqm_line{
	margin-left: 15px;
	margin-top: 15px;
}

.eqm_list_add_eqm_descr{
	margin-left: 20px;
	margin-top: 15px;
}

.eqm_list_btnShow{
	width: 95px; 
	margin-left: 50px;
	display: none;
}
 
.eqm_update_propertyNo{
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	color: red;
	background: white;
}