@CHARSET "UTF-8";

body{
	font-size: 13px; 
	margin: auto auto; 
	width: 100%; 
}

.main{
	font-size: 13px; 
	margin: auto auto; 
	width: 100%;  
	float: center; 
}

.logo{
	width: 100%;
	height: 150px;
	margin: auto auto;
	margin-bottom: 15px;
	margin-top:10px;
	background-image: url("../../Resource/images/logo/logo_150.jpg");
	background-repeat:no-repeat;
	background-position:center; 
} 

.info_show{
	width: 100%;
	height: 20px;
	margin: auto auto;
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
	font-size: 14px;
}
.info_show a{
	color: red;
	text-decoration: none;
}
.info_show a:HOVER{
	color: #ff6c26;
}

.div_permissionInfo{
	width:470px;
	height: 250px;
	padding-left: 20px;
	padding-right: 15px;
	padding-top:20px;
	line-height: 40px;
	display: none; 
}

.center{
	width: 1260px;
	height: 600px;
	margin: auto auto;	
	display: block;
}
.left_show{
	width: 250px;
	height: 590px;
	float: left;
	margin: auto auto; 
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #808000;
} 
.null_line{
	width: 100%;
	height: 10px;
}
.navigator{
	width: 100%;
	height: 580px;
	
	/* background: #348938; */
	line-height: 50px;
}
.navigator a{
	width: 100%;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px; 
}
.navigator a:link{
	color: black;
}
.navigator a:hover{
	color: black;
}
.navigator a:visited{
	color: black;
}
.navigator ul li{
	height: 50px;
	line-height: 50px;
	/* list-style-type:none;
	list-style-image: url(../../Resource/images/icon/eqm_mine2.png);  */ 
}

.right_show{
	width: 1000px;
	height: 600px; 
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #808000; 
} 

.content{
	width: 100%;
	height: 100%;
}

.footer{
	width:1260px;
	height: 75px;
	line-height: 25px;
	margin: auto auto;
	margin-top:25px;
	text-align:center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #808000;
} 

.footer a{
	color: green; 
	cursor: pointer; 
	text-decoration: none;
}
.footer a:hover{
	color: orange;
}

#font_red{
	color: red;
	font-size: 16px;
	font-weight: bold;
}